<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>注册微博</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div id="container" class="container-fluid">
    <div class="panel panel-default" id="login_panel">
        <form method="post" action="/account/register/" id="register_form">
            <p><img src="../static/img/icon.png"><strong>新用户注册</strong></p>

            <div class="form-group">
                <label for="username">用户名：</label>
                <input type="text" class="form-control" id="username" placeholder="请输入ID/用户名/邮箱/手机号" name="username"
                       value="">
            </div>
            <div class="form-group">
                <label for="">邮箱：</label>
                <input type="email" class="form-control" id="email" placeholder="请输入邮箱" name="email" value="">
            </div>
            <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password" value="">
            </div>
            <div class="checkbox">
                <div class="errorinfo">
                    {% if ErrorMsg %}
                        <div class="error-info">{{ ErrorMsg }}</div>
                    {% endif %}
                    {% if outdated %}
                        <span class="error-info">用户已过期</span>
                    {% endif %}

                </div>
            </div>
            <button type="submit" class="btn btn-default">注&nbsp;册</button>
        </form>

    </div>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(
                function () {
                    var $error = $('.errorinfo');
                    $('input').focus(function () {
                        $(this).addClass('input-focus');
                    });
                    $('input').keyup(function () {
                        $error.css({display: 'none'});
                    });
                    $('input').blur(function () {
                        $(this).removeClass('input-focus');
                    });
                    $('form').submit(function () {
                                var userName = $('#username').val();
                                var passWord = $('#password').val();
                                if (!userName) {
                                    $error.html('<span class="error-info">账号不能为空</span>').css({'display': 'block'});
                                    return false;
                                }
                                if (!passWord) {
                                    $error.html('<span class="error-info">密码不能为空</span>').css({'display': 'block'});
                                    return false;
                                }
                                $.cookie('cookie_login_name', userName, {expires: 120, path: '/'});

                            }
                    );
    </script>