{% extends 'base.html' %}


{% block content %}
    <div class="panel panel-default" id="send_frame">
        <div>
            <form id="weibo_send_form">
                <label class="sr-only" for="weibo">微博</label>
                <input type="text" id="sendweibo" class="form-control" aria-describedby="helpBlock" name="weibo_content"
                       value="">
                <span id="helpBlock" class="help-block"><em>今天天气好，赶快来发条微博吧！</em></span>
                <button type="button" class="btn btn-primary" id="send_weibo_btn">发送</button>
            </form>
        </div>
    </div>
    <div class="panel panel-default" id="container_body">
        <ol>
            {% if time_list %}
            {% else %}
                <p style="text-align: center"><em>没有一条微博,赶快创建一个吧</em></p>
            {% endif %}
        </ol>


    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(
                $('#send_weibo_btn').click(function () {
                    $.ajax({
                        url: '/timeline/send/',
                        type: 'get',
                        data: $('#weibo_send_form').serialize(),
                        success: function (repo) {
                            location.reload();
                        },
                        error: function (error) {
                            console.log($('#weibo_send_form').serialize());
                        }

                    });
                });
        )
    </script>
{% endblock %}